@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.b {
  border: 2px solid red;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1791 0.0102 248.3976);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1791 0.0102 248.3976);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1791 0.0102 248.3976);
  --primary: oklch(0.8035 0.1316 194.8523);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9686 0.0035 247.859);
  --secondary-foreground: oklch(0.1791 0.0102 248.3976);
  --muted: oklch(0.9686 0.0035 247.859);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.9518 0.0369 196.5482);
  --accent-foreground: oklch(0.5518 0.0891 194.8812);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.921 0.0088 247.9219);
  --input: oklch(0.921 0.0088 247.9219);
  --ring: oklch(0.8035 0.1316 194.8523);
  --chart-1: oklch(0.8035 0.1316 194.8523);
  --chart-2: oklch(0.5614 0.1539 280.2348);
  --chart-3: oklch(0.857 0.1787 109.6437);
  --chart-4: oklch(0.6811 0.1461 59.8125);
  --chart-5: oklch(0.6665 0.1797 327.3573);
  --sidebar: oklch(0.985 0.0017 228.7726);
  --sidebar-foreground: oklch(0.1791 0.0102 248.3976);
  --sidebar-primary: oklch(0.7121 0.1118 194.9357);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9755 0.0187 196.8505);
  --sidebar-accent-foreground: oklch(0.4847 0.0776 194.8965);
  --sidebar-border: oklch(0.8818 0.0101 247.9405);
  --sidebar-ring: oklch(0.7121 0.1118 194.9357);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.03);
  --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.03);
  --shadow-sm:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.05), 0 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.05), 0 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.05), 0 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1791 0.0102 248.3976);
  --foreground: oklch(0.9686 0.0035 247.859);
  --card: oklch(0.2127 0.0127 248.425);
  --card-foreground: oklch(0.9686 0.0035 247.859);
  --popover: oklch(0.2127 0.0127 248.425);
  --popover-foreground: oklch(0.9686 0.0035 247.859);
  --primary: oklch(0.8035 0.1316 194.8523);
  --primary-foreground: oklch(0.1791 0.0102 248.3976);
  --secondary: oklch(0.2656 0.018 248.5074);
  --secondary-foreground: oklch(0.921 0.0088 247.9219);
  --muted: oklch(0.2656 0.018 248.5074);
  --muted-foreground: oklch(0.678 0.0191 248.1098);
  --accent: oklch(0.4151 0.0657 194.9203);
  --accent-foreground: oklch(0.9518 0.0369 196.5482);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9686 0.0035 247.859);
  --border: oklch(0.3645 0.0277 248.5929);
  --input: oklch(0.3645 0.0277 248.5929);
  --ring: oklch(0.8035 0.1316 194.8523);
  --chart-1: oklch(0.8035 0.1316 194.8523);
  --chart-2: oklch(0.5614 0.1539 280.2348);
  --chart-3: oklch(0.857 0.1787 109.6437);
  --chart-4: oklch(0.6811 0.1461 59.8125);
  --chart-5: oklch(0.6665 0.1797 327.3573);
  --sidebar: oklch(0.2336 0.0186 248.63);
  --sidebar-foreground: oklch(0.9686 0.0035 247.859);
  --sidebar-primary: oklch(0.7121 0.1118 194.9357);
  --sidebar-primary-foreground: oklch(0.1791 0.0102 248.3976);
  --sidebar-accent: oklch(0.3425 0.053 194.9619);
  --sidebar-accent-foreground: oklch(0.9291 0.0543 196.2551);
  --sidebar-border: oklch(0.316 0.023 248.5583);
  --sidebar-ring: oklch(0.7121 0.1118 194.9357);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.1rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.5;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.25);
  --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.25);
  --shadow-sm:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.5), 0 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.5), 0 1px 2px -1px hsl(0 0 0 / 0.5);
  --shadow-md:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.5), 0 2px 4px -1px hsl(0 0 0 / 0.5);
  --shadow-lg:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.5), 0 4px 6px -1px hsl(0 0 0 / 0.5);
  --shadow-xl:
    0 0.1rem 0.5rem 0 hsl(0 0 0 / 0.5), 0 8px 10px -1px hsl(0 0 0 / 0.5);
  --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0 0 / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
